<!--[if lt IE 7]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div ng-view></div>

<script src="front-end/app/bower_components/angular/angular.min.js"></script>
<script src="front-end/app/bower_components/angular-route/angular-route.min.js"></script>
<script src="front-end/app/app.js"></script>
<script src="front-end/app/components/homepage/homepage.js"></script>
